@model Sigo.Auth.Api.Quickstart.Account.LogoutViewModel

<div class="logout-page">
   <form asp-action="Logout">
        <input type="hidden" name="logoutId" value="@Model.LogoutId"  />
        <div class="form-group">
            <button class="btn btn-primary">Yes</button>
        </div>
    </form>
</div>
